.gridContainer {
	display: grid;
	grid-template-columns: [full-start] minmax(20px, 1fr) [main-start] minmax(
			0,
			$inner-max-width
		) [main-end] minmax(20px, 1fr) [full-end];

	@include from(10) {
		grid-template-columns: [full-start] minmax(40px, 1fr) [main-start] minmax(
				0,
				$inner-max-width
			) [main-end] minmax(40px, 1fr) [full-end];
	}
}
