@use 'sass:map';
@use 'sass:list';

$grid-type: (
  constrained: main,
  full-bleed:  full,
  left-bleed:  list.slash(full, main),
  right-bleed: list.slash(main, full)
);

@mixin grid-placement($type: constrained, $max-width: null) {
  grid-column: map.get($grid-type, $type);

  @if $max-width {
    width: 100%;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
  }
}

.gridPlacement {
  @include grid-placement();
}

.full {
  @include grid-placement(full-bleed)
}

.leftBleed {
  @include grid-placement(left-bleed)
}

.rightBleed {
  @include grid-placement(right-bleed)
}