.pageContainer {
	position: relative;
	display: grid;
	grid-template: auto 1fr auto / minmax(0, 1fr);
	grid-template-areas: 'header' 'main' 'footer';
	max-width: 1400px;
	min-height: 100vh;
	margin: 0 auto;
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}
